<div class="map-region">
  <div class="content-header"></div>
  <div class="upload-region">
    <div class="upload">
      <div>Upload Corner Records</div>
      <!-- <label class="button">Select File</label> -->
      <form id="upload-form" action="{{url_for('upload')}}" method="POST" enctype="multipart/form-data">
          <div class="form-group">
              <label for="pdfFile">Pdf File</label>
              <input type="file" class="form-control" id="pdfFile" name="file"/>
          </div>
          <button class="button">CREATE</button>
      </form>
    </div>
  </div>
</div>

<!-- <button id="show-pdf-button">Show PDF</button> -->
